.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.watched-videos,
.starred-videos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  height: 600px; /* Adjust the height to make the rectangles longer */
  border: none;
  margin: 200px 20px 20px 20px;
  background-color: rgba(123, 121, 121, 0.5);
  padding: 20px;
  border-radius: 10px; /* Adding rounded corners */
}

.watched-videos h2,
.starred-videos h2 {
  color: white;
  margin: 0;
  font-weight: normal;
}
