.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the start of the container */
  height: 200vh;
  margin-top: -15px;
  /* Adjust the top margin as needed */

}

.video-container {
  width: 600px;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.watched-videos,
.starred-videos {
  background-color: rgba(65, 0, 251, 0.3);
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 660px;
}

.watched-videos h2,
.starred-videos h2 {
  color: white;
  margin: 0;
  font-weight: normal;
}

.search-container {
  position: relative;
  top: 17px;
  left: 240px;
  /* Adjust the left position as needed */
  margin-top: -50px;
  /* Adjust the negative margin to move it up */
}

.search-container input {
  height: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.76);
}

.search-button {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.dashboardPic {
  width: 350px;
  display: flex;
  padding-top: 50px;
  border-radius: 0%;
}

.dashboardVideos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.specificVid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 150px; /* Adjust margin as needed */
}

.fav {
  margin-top: 15px;
  background-color: rgba(65, 0, 251, 0.55);
  width: 100px;
  height: 40px;
  border: 2px solid hsla(260, 100%, 50%, 0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "Abel";
  color: #fff;
  font-size: 15px;
}

.title {
  padding-top: 13px;
  font-size: 25px;
}
.titleDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

