@import url("https://fonts.googleapis.com/css?family=Abel");

* {
  margin: 0;
}

html {
  font-family: "Abel";
  color: #fff;
}

h1 {
  font-size: 95px;
  font-weight: normal;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}



h2 {
  font-size: 30px;
  margin-left: 5px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.link {
  display: flex;
  width: 100%;
}

body {
  background: rgb(11,11,254);
  background: linear-gradient(120deg, rgba(11,11,254,0.650095413165266) 0%, rgba(255,62,224,0.7057536764705883) 63%, rgba(255,10,63,0.359171043417367) 83%, rgba(255,2,16,0.30115983893557425) 91%, rgba(238,164,38,0.30314863445378152) 100%);
  /* background-size: 100% 100%; */
  overflow: hidden;
}

.logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  margin-right: 20px;
  justify-content: end;
}


.nav ul {
  padding: 5px 10px;
  margin: 0px;
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: end;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 19px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.nav li.active {
  text-decoration: underline;
  color: white;
  text-underline-offset: 8px; 
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.nav li:hover {
  text-decoration: underline;
  color: white;
  text-underline-offset: 8px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 50px;
}

.container input {
  width: 77%;
  display: flex;
  margin-top: 55px;
  padding: 10px;
  background-color: white;
  border: solid 1px white;
  border-radius: 10px;
  margin-bottom: 30px;
  font-family: "Abel";
  font-size: 17px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  
}

:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.go {
  margin-left: 30px;
  margin-top: 55px;
  background-color: rgba(65, 0, 251, 0.46);
  width: 90px;
  height: 60px;
  border: 2px solid hsla(260, 100%, 50%, 0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "Abel";
  color: #fff;
  font-size: 20px;

}

.login {
  margin-bottom: 40px;
  padding: 5px;
  margin-top: 40px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.20);
  border: solid .3px rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  font-family: "Abel";
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backToSignUp {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}


.body {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
}


section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centerButton {
  display: flex;
  justify-content: center;
}

a,
a:visited {
  color: #fff;
}

/* input[type="email"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  margin-top: 1rem;
}


button {
  margin-top: .5rem;
}

button {
  padding: .5rem;
  max-width: inherit;
  width: 79%;
}
 */

.formDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 125px;
  width: 450px;
  height: 450px
}



.input {
  display: flex;
  flex-direction: column;
}

form {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

label {
  margin-bottom: 15px;
  margin-top: 40px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input {
  border: solid .0001px rgba(255, 255, 255, 0.27);;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.27);
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 10px;
}

.iconGradient {
  background: rgb(11,11,254);
  background: linear-gradient(110deg, rgba(11,11,254,0.350095413165266) 0%, rgba(255,62,224,0.5057536764705883) 63%, rgba(255,10,63,0.209171043417367) 83%, rgba(255,2,16,0.20115983893557425) 91%, rgba(238,164,38,0.20314863445378152) 100%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 57px;
    color:rgba(255, 255, 255, 0.70);
}

::placeholder {
  font-family:  "Abel";
  font-size: 16px;
}

input[type="email"] {
 font-family: "Abel";
}

section {
  width: 100%;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
}

.changePadding {
  padding-top: 25px;
  height: 550px;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

.design {
  position: absolute;
  max-width: 100%;
  height: auto;
  width: 55%;
  left: 780px;
  top: -275px;
  transform: rotate(-25deg);
  filter: grayscale(100%);
  z-index: -1;
  filter: brightness(0) invert(1);
}



















