.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.dance-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adjusted the flex direction to stack items vertically */
  margin-top: 100px;
  margin-bottom: 100px;
}

.dancer {
  max-width: 100%;
  max-height: 100%;
}

.rectangle {
  width: 100%;
  height: 50px;
  background-color: rgba(65, 0, 251, 0.3);
  margin-top: 0px; /* Adjust the margin-top to control the space between the image and rectangle */
}

.white-rectangle {
  position: absolute;
  bottom: 80px;
  width: 96%; 
  height: 10px; 
  background-color: white;
  border-radius: 5px;
}

.white-rectangle::before {
  content: '';
  position: absolute;
  top: 0px; 
  left: 0;
  width: 25%; 
  height: 10px; 
  background-color: #FA89CC; 
  border-radius: 5px; 
}

.star-button {
  position: absolute;
  top: 10px;
  left: 97.5%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  filter:brightness(0) invert(1);
}

.newstar-button {
  width: 100%;
  height: 100%;
  filter:brightness(0) invert(1);
}

.play-button {
  position: absolute;
  top: 660px; 
  left: 3%; 
  transform: translateX(-50%); 
  width: 30px; 
  height: 30px; 
  z-index: 1; 
  cursor: pointer;
  filter:brightness(0) invert(1);
}

.newplay-button {
  width: 100%;
  height: 100%;
  filter:brightness(0) invert(1);
}

.volume-button {
  position: absolute;
  top: 660px; 
  left: 7%; 
  transform: translateX(-50%); 
  width: 30px; 
  height: 30px; 
  z-index: 1; 
  filter:brightness(0) invert(1);
}

.volume-popup {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 100px;
  max-height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.volume-popup input {
  width: 100%;
  margin: 10px 0;
}

.mirror-button {
  position: absolute;
  top: 660px;
  left: 93.5%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  filter:brightness(0) invert(1);
}

.newmirror-button {
  width: 100%;
  height: 100%;
  filter:brightness(0) invert(1);
}

.playback-button {
  position: absolute;
  top: 660px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 1;
  filter:brightness(0) invert(1);
}

.playback-options {
  position: absolute;
  top: 538px;
  right: 150px;
  background-color: rgba(65, 0, 251, 0.3);
  border: none;
  padding: 10px;
  z-index: 1;
}

.playback-option {
  padding: 5px 10px;
  cursor: pointer;
}

.playback-option:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.text-overlay {
  color: white; 
  font-size: 16px; 
  font-weight: bold; 
  position: absolute;
  top: 665px; 
  right: 1010px; 
}

/*.pause-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 1;
  filter: brightness(0) invert(1);
}*/

